<div id="addMemberModal" class="modal fade bs-example-modal-lg"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">文章添加</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">文章标题</label>
                        <div class="col-md-8">
                            <input id="articleTitle" name="jDateNum" class="form-control"
                                   type="text" placeholder="文章标题">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">文章图片//暂时不考虑</label>
                        <div class="col-md-8">
                            <input id="articlePhoto" name="jDateNum" class="form-control"
                                   type="text" placeholder="文章图片">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">所属标签//暂时为输入，后续考虑改为为多选框</label>
                        <div class="col-md-8">
                            <input id="articleLabel" name="jDateNum" class="form-control"
                                   type="text" placeholder="所属标签">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">作者</label>
                        <div class="col-md-8 col-sm-8 ">
                            <textarea id="articleAuthor" name="jCause" class="form-control" rows="3" placeholder="作者"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="my-editormd" class="col-md-12 col-sm-12">
                            <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
                            <!-- 注意：name属性的值-->
                            <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="addMember" type="button" class="btn btn-primary" data-dismiss="modal">添加</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>