<div id="addPhotoModal" class="modal fade bs-example-modal-lg"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">图片添加</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">图片名字</label>
                        <div class="col-md-8">
                            <input id="addPhotoName" name="jDateNum" class="form-control"
                                   type="text" placeholder="图片名字">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">图片路径</label>
                        <div class="col-md-8">
                            <input id="addPhotoUrl" name="jDateNum" class="form-control"
                                   type="text" placeholder="图片路径">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">图片内容</label>
                        <div class="col-md-8 col-sm-8 ">
                            <textarea id="addPhotoContent" name="jCause" class="form-control" rows="6" placeholder="图片内容"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="addPhoto" type="button" class="btn btn-primary" data-dismiss="modal">添加</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>