<div id="editSoftwareModal" class="modal fade bs-example-modal-xl"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">软件编辑</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">软件Id</label>
                        <div class="col-md-8">
                            <input id="articleIdForEdit" name="jDateNum" class="form-control"
                                   type="text" placeholder="软件Id" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">软件名字</label>
                        <div class="col-md-8">
                            <input id="articleTitleForEdit" name="jDateNum" class="form-control"
                                   type="text" placeholder="软件名字">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">软件图片//暂时不考虑</label>
                        <div class="col-md-8">
                            <input id="articlePhotoForEdit" name="jDateNum" class="form-control"
                                   type="text" placeholder="软件图片">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">所属标签//暂时为输入，后续考虑改为为多选框</label>
                        <div class="col-md-8">
                            <input id="articleLabelForEdit" name="jDateNum" class="form-control"
                                   type="text" placeholder="所属标签">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">软件链接</label>
                        <div class="col-md-8 col-sm-8 ">
                            <textarea id="articleAuthorForEdit" name="jCause" class="form-control" rows="3" placeholder="软件链接"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="my-editormdForEdit">
                            <textarea id="my-editormd-markdown-doc-edit" name="my-editormd-markdown-doc" style="display:none;"></textarea>
                            <!-- 注意：name属性的值-->
                            <textarea id="my-editormd-html-code-edit" name="my-editormd-html-code" style="display:none; "></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="editArticle" type="button" class="btn btn-primary" data-dismiss="modal">编辑</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

