<div class="sidebar">
    <div class="sidebar-header">
        <div>
            <a href="../index.html" class="sidebar-logo"><span>HuangJN</span></a>
            <small class="sidebar-logo-headline">暗中观察的地方</small>
        </div>
    </div><!-- sidebar-header -->
    <div id="dpSidebarBody" class="sidebar-body">
        <ul class="nav nav-sidebar">
            <li class="nav-label"><label class="content-label">后续实现</label></li>
            <li class="nav-item ">
                <a href="" class="nav-link with-sub "><i data-feather="box"></i> Dashboard</a>
                <ul class="nav nav-sub">
                    <li class="nav-sub-item"><a href="#" class="nav-sub-link ">Analytics &amp; Monitoring</a></li>
                    <li class="nav-sub-item"><a href="#" class="nav-sub-link">Projects &amp; Web Services</a></li>
                    <li class="nav-sub-item"><a href="#" class="nav-sub-link">Blog &amp; Social Media</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="layout"></i>小应用</a>
                <nav class="nav nav-sub">
                    <a href="#" class="nav-sub-link">Calendar</a>
                    <a href="#" class="nav-sub-link">Chat</a>
                    <a href="#" class="nav-sub-link">Mail</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="user"></i>角色管理</a>
                <nav class="nav nav-sub">
                    <a href="/account/member" class="nav-sub-link">网站成员</a>
                    <a href="/account/administrators" class="nav-sub-link">后台管理员</a>
                    <a href="/account/roles" class="nav-sub-link">角色管理</a>
                    <a href="/account/power" class="nav-sub-link">权限管理</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i data-feather="file-text"></i> 知识分享</a>
                <nav class="nav nav-sub">
                    <a href="/content/article" class="nav-sub-link">文章管理</a>
                    <a href="/content/software" class="nav-sub-link">软件管理</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub "><i data-feather="file-text"></i>资源管理</a>
                <nav class="nav nav-sub">
                    <a href="/content/music" class="nav-sub-link ">音乐盒</a>
                    <a href="/content/picture" class="nav-sub-link">图片</a>
                </nav>
            </li>
        </ul>
    </div><!-- sidebar-body -->
</div><!-- sidebar -->