<div id="addMemberModal" class="modal fade bs-example-modal-lg"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">用户名</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3">请假日期</label>
                        <div class="col-md-8">
                            <input id="jDateForAddPage" name="jDate" class="form-control"
                                   type="date" placeholder="请假日期">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">请假天数</label>
                        <div class="col-md-8">
                            <input id="jDateNumForAddPage" name="jDateNum" class="form-control"
                                   type="text" placeholder="请假天数">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">请假原因</label>
                        <div class="col-md-8 col-sm-8 ">
                            <textarea id="jCauseForAddPage" name="jCause" class="form-control" rows="3" placeholder="请假原因"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="insertQingJiaBtn" type="button" class="btn btn-primary" data-dismiss="modal">申请</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>